<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>Synonymous Price Calculator</label>
    <version>0.0.1</version>
    <copyright>Synonymous</copyright>
    <link>https://synonymous.rocks</link>
    <author>Synonymous</author>
    <description><![CDATA[This plugin is a showcase and allows individual price calculation for articles.]]></description>

    <changelog version="0.0.1">
        <changes>Initial Release</changes>
    </changelog>

    <compatibility minVersion="5.2.0" />

</plugin>
